target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# 忽略本项目生成的输出文件
*.tex

# 忽略通用的日志文件
*.log

# 忽略 Windows 缩略图缓存
Thumbs.db

# 忽略本地测试文档目录
/sandbox/
/test_docs/

# 忽略所有生成的 CSL 样式文件
*.csl